/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/

# rspec failure tracking
.rspec_status

**/*.rs.bk
/ext/*/target/
/ext/*/Cargo.lock

# Development
.rspec_status
.rake_tasks~

# Lefthook
.lefthook/
lefthook-local.yml
.DS_Store
**/.DS_Store

