# Docker Compose for testing rfmt across multiple Ruby versions
# Usage:
#   docker compose -f docker/compose.test.yml build
#   docker compose -f docker/compose.test.yml up

x-build-common: &build-common
  context: ..
  dockerfile: docker/Dockerfile.test
  target: test

services:
  test-ruby-3.4:
    build:
      <<: *build-common
      args:
        RUBY_VERSION: "3.4"
    image: rfmt-test:ruby-3.4

  test-ruby-4.0:
    build:
      <<: *build-common
      args:
        RUBY_VERSION: "4.0"
    image: rfmt-test:ruby-4.0
